{{define "Map"}}
<svg viewBox="0 0 1400 720" preserveAspectRatio="xMinYMin meet">
    <image width="1280" height="720" xlink:href="/assets/img/sr606.png"></image>
    <circle alt="sixth string fret number 0" class="note B" cx="236" cy="387" r="4"></circle>
    <circle alt="sixth string fret number 1" class="note C" cx="292" cy="387.5" r="4"></circle>
    <circle alt="sixth string fret number 2" class="note Cs" cx="342" cy="388.6" r="4"></circle>
    <circle alt="sixth string fret number 3" class="note D" cx="388" cy="389" r="4"></circle>
    <circle alt="sixth string fret number 4" class="note Ds" cx="431" cy="390" r="4"></circle>
    <circle alt="sixth string fret number 5" class="note E" cx="472" cy="391" r="4"></circle>
    <circle alt="sixth string fret number 6" class="note F" cx="510" cy="392" r="4"></circle>
    <circle alt="sixth string fret number 7" class="note Fs" cx="546" cy="392.5" r="4"></circle>
    <circle alt="sixth string fret number 8" class="note G" cx="580" cy="393" r="4"></circle>
    <circle alt="sixth string fret number 9" class="note Gs" cx="611" cy="393.6" r="4"></circle>
    <circle alt="sixth string fret number 10" class="note A" cx="641" cy="394" r="4"></circle>
    <circle alt="sixth string fret number 11" class="note As" cx="670" cy="394" r="4"></circle>
    <circle alt="sixth string fret number 12" class="note B" cx="696" cy="395" r="4"></circle>
    <circle alt="sixth string fret number 13" class="note C" cx="721" cy="395" r="4"></circle>
    <circle alt="sixth string fret number 14" class="note Cs" cx="745" cy="395.6" r="4"></circle>
    <circle alt="sixth string fret number 15" class="note D" cx="767" cy="396" r="4"></circle>
    <circle alt="sixth string fret number 16" class="note Ds" cx="788" cy="396" r="4"></circle>
    <circle alt="sixth string fret number 17" class="note E" cx="808" cy="396.5" r="4"></circle>
    <circle alt="sixth string fret number 18" class="note F" cx="827" cy="397" r="4"></circle>
    <circle alt="sixth string fret number 19" class="note Fs" cx="844" cy="398" r="4"></circle>
    <circle alt="sixth string fret number 20" class="note G" cx="861" cy="398.5" r="4"></circle>
    <circle alt="sixth string fret number 21" class="note Gs" cx="876" cy="399" r="4"></circle>
    <circle alt="sixth string fret number 22" class="note A" cx="891.5" cy="399.5" r="4"></circle>
    <circle alt="sixth string fret number 23" class="note As" cx="905" cy="399" r="4"></circle>
    <circle alt="sixth string fret number 24" class="note B" cx="919" cy="400" r="4"></circle>
    <circle alt="fifth string fret number 0" class="note E" cx="236" cy="375.5" r="4"></circle>
    <circle alt="fifth string fret number 1" class="note F" cx="292" cy="375.5" r="4"></circle>
    <circle alt="fifth string fret number 2" class="note Fs" cx="342" cy="377.5" r="4"></circle>
    <circle alt="fifth string fret number 3" class="note G" cx="388" cy="378" r="4"></circle>
    <circle alt="fifth string fret number 4" class="note Gs" cx="431" cy="378.5" r="4"></circle>
    <circle alt="fifth string fret number 5" class="note A" cx="472" cy="379" r="4"></circle>
    <circle alt="fifth string fret number 6" class="note As" cx="510" cy="379.7" r="4"></circle>
    <circle alt="fifth string fret number 7" class="note B" cx="546" cy="380.2" r="4"></circle>
    <circle alt="fifth string fret number 8" class="note C" cx="580" cy="380.6" r="4"></circle>
    <circle alt="fifth string fret number 9" class="note Cs" cx="611" cy="381.2" r="4"></circle>
    <circle alt="fifth string fret number 10" class="note D" cx="641" cy="381.2" r="4"/>
    <circle alt="fifth string fret number 11" class="note Ds" cx="670" cy="381.5" r="4"/>
    <circle alt="fifth string fret number 12" class="note E" cx="696" cy="382" r="4"/>
    <circle alt="fifth string fret number 13" class="note F" cx="721" cy="382.1" r="4"/>
    <circle alt="fifth string fret number 14" class="note Fs" cx="745" cy="382.5" r="4"/>
    <circle alt="fifth string fret number 15" class="note G" cx="767" cy="382.8" r="4"/>
    <circle alt="fifth string fret number 16" class="note Gs" cx="788" cy="383" r="4"/>
    <circle alt="fifth string fret number 17" class="note A" cx="808" cy="383.6" r="4"/>
    <circle alt="fifth string fret number 18" class="note As" cx="827" cy="383.7" r="4"/>
    <circle alt="fifth string fret number 19" class="note B" cx="844" cy="383.9" r="4"/>
    <circle alt="fifth string fret number 20" class="note C" cx="861" cy="384.2" r="4"/>
    <circle alt="fifth string fret number 21" class="note Cs" cx="876.5" cy="384.5" r="4"/>
    <circle alt="fifth string fret number 22" class="note D" cx="891.5" cy="384.5" r="4"/>
    <circle alt="fifth string fret number 23" class="note Ds" cx="905" cy="384.5" r="4"/>
    <circle alt="fifth string fret number 24" class="note E" cx="919" cy="384.5" r="4"/>
    <circle alt="fourth string fret number 0" class="note A" cx="236" cy="366" r="4"/>
    <circle alt="fourth string fret number 1" class="note As" cx="292" cy="366" r="4"/>
    <circle alt="fourth string fret number 2" class="note B" cx="342" cy="366" r="4"/>
    <circle alt="fourth string fret number 3" class="note C" cx="388" cy="366" r="4"/>
    <circle alt="fourth string fret number 4" class="note Cs" cx="431" cy="367" r="4"/>
    <circle alt="fourth string fret number 5" class="note D" cx="472" cy="367" r="4"/>
    <circle alt="fourth string fret number 6" class="note Ds" cx="510" cy="367" r="4"/>
    <circle alt="fourth string fret number 7" class="note E" cx="546" cy="367" r="4"/>
    <circle alt="fourth string fret number 8" class="note F" cx="580" cy="367" r="4"/>
    <circle alt="fourth string fret number 9" class="note Fs" cx="611" cy="367.5" r="4"/>
    <circle alt="fourth string fret number 10" class="note G" cx="641" cy="367.5" r="4"/>
    <circle alt="fourth string fret number 11" class="note Gs" cx="670" cy="368" r="4"/>
    <circle alt="fourth string fret number 12" class="note A" cx="696" cy="368" r="4"/>
    <circle alt="fourth string fret number 13" class="note As" cx="721" cy="368" r="4"/>
    <circle alt="fourth string fret number 14" class="note B" cx="745" cy="368" r="4"/>
    <circle alt="fourth string fret number 15" class="note C" cx="767" cy="368" r="4"/>
    <circle alt="fourth string fret number 16" class="note Cs" cx="788" cy="368" r="4"/>
    <circle alt="fourth string fret number 17" class="note D" cx="808" cy="368" r="4"/>
    <circle alt="fourth string fret number 18" class="note Ds" cx="827" cy="368.5" r="4"/>
    <circle alt="fourth string fret number 19" class="note E" cx="844" cy="369" r="4"/>
    <circle alt="fourth string fret number 20" class="note F" cx="861" cy="369" r="4"/>
    <circle alt="fourth string fret number 21" class="note Fs" cx="876" cy="369" r="4"/>
    <circle alt="fourth string fret number 22" class="note G" cx="891.5" cy="369" r="4"/>
    <circle alt="fourth string fret number 23" class="note Gs" cx="905" cy="369" r="4"/>
    <circle alt="fourth string fret number 24" class="note A" cx="919" cy="369" r="4"/>
    <circle alt="third string fret number 0" class="note D" cx="236" cy="356" r="4"/>
    <circle alt="third string fret number 1" class="note Ds" cx="292" cy="356" r="4"/>
    <circle alt="third string fret number 2" class="note E" cx="342" cy="356" r="4"/>
    <circle alt="third string fret number 3" class="note F" cx="388" cy="356" r="4"/>
    <circle alt="third string fret number 4" class="note Fs" cx="431" cy="356" r="4"/>
    <circle alt="third string fret number 5" class="note G" cx="472" cy="356" r="4"/>
    <circle alt="third string fret number 6" class="note Gs" cx="510" cy="356" r="4"/>
    <circle alt="third string fret number 7" class="note A" cx="546" cy="355" r="4"/>
    <circle alt="third string fret number 8" class="note As" cx="580" cy="355" r="4"/>
    <circle alt="third string fret number 9" class="note B" cx="611" cy="355" r="4"/>
    <circle alt="third string fret number 10" class="note C" cx="641" cy="355" r="4"/>
    <circle alt="third string fret number 11" class="note Cs" cx="669.5" cy="354.5" r="4"/>
    <circle alt="third string fret number 12" class="note D" cx="696" cy="354.5" r="4"/>
    <circle alt="third string fret number 13" class="note Ds" cx="721" cy="354" r="4"/>
    <circle alt="third string fret number 14" class="note E" cx="745" cy="354" r="4"/>
    <circle alt="third string fret number 15" class="note F" cx="767" cy="354" r="4"/>
    <circle alt="third string fret number 16" class="note Fs" cx="788" cy="354" r="4"/>
    <circle alt="third string fret number 17" class="note G" cx="808" cy="354" r="4"/>
    <circle alt="third string fret number 18" class="note Gs" cx="827" cy="354" r="4"/>
    <circle alt="third string fret number 19" class="note A" cx="844" cy="354" r="4"/>
    <circle alt="third string fret number 20" class="note As" cx="861" cy="354" r="4"/>
    <circle alt="third string fret number 21" class="note B" cx="876" cy="354" r="4"/>
    <circle alt="third string fret number 22" class="note C" cx="891.5" cy="354" r="4"/>
    <circle alt="third string fret number 23" class="note Cs" cx="905" cy="354" r="4"/>
    <circle alt="third string fret number 24" class="note D" cx="919" cy="354" r="4"/>
    <circle alt="second string fret number 0" class="note G" cx="236" cy="347" r="4"/>
    <circle alt="second string fret number 1" class="note Gs" cx="292" cy="347" r="4"/>
    <circle alt="second string fret number 2" class="note A" cx="342" cy="347" r="4"/>
    <circle alt="second string fret number 3" class="note As" cx="388" cy="347" r="4"/>
    <circle alt="second string fret number 4" class="note B" cx="431" cy="345.5" r="4"/>
    <circle alt="second string fret number 5" class="note C" cx="472" cy="345.5" r="4"/>
    <circle alt="second string fret number 6" class="note Cs" cx="510" cy="345" r="4"/>
    <circle alt="second string fret number 7" class="note D" cx="546" cy="345" r="4"/>
    <circle alt="second string fret number 8" class="note Ds" cx="579.5" cy="344" r="4"/>
    <circle alt="second string fret number 9" class="note E" cx="611" cy="343.5" r="4"/>
    <circle alt="second string fret number 10" class="note F" cx="641" cy="343" r="4"/>
    <circle alt="second string fret number 11" class="note Fs" cx="669.5" cy="342.2" r="4"/>
    <circle alt="second string fret number 12" class="note G" cx="696" cy="342" r="4"/>
    <circle alt="second string fret number 13" class="note Gs" cx="721" cy="341.5" r="4"/>
    <circle alt="second string fret number 14" class="note A" cx="745" cy="341" r="4"/>
    <circle alt="second string fret number 15" class="note As" cx="767" cy="341" r="4"/>
    <circle alt="second string fret number 16" class="note B" cx="788" cy="341" r="4"/>
    <circle alt="second string fret number 17" class="note C" cx="808" cy="341" r="4"/>
    <circle alt="second string fret number 18" class="note Cs" cx="827" cy="341" r="4"/>
    <circle alt="second string fret number 19" class="note D" cx="844" cy="341" r="4"/>
    <circle alt="second string fret number 20" class="note Ds" cx="861" cy="340.8" r="4"/>
    <circle alt="second string fret number 21" class="note E" cx="876.5" cy="340" r="4"/>
    <circle alt="second string fret number 22" class="note F" cx="891.5" cy="339.8" r="4"/>
    <circle alt="second string fret number 23" class="note Fs" cx="905" cy="339.5" r="4"/>
    <circle alt="second string fret number 24" class="note G" cx="919" cy="339" r="4"/>
    <circle alt="first string fret number 0" class="note C" cx="236" cy="339" r="4"/>
    <circle alt="first string fret number 1" class="note Cs" cx="292" cy="338" r="4"/>
    <circle alt="first string fret number 2" class="note D" cx="342" cy="337" r="4"/>
    <circle alt="first string fret number 3" class="note Ds" cx="388" cy="336" r="4"/>
    <circle alt="first string fret number 4" class="note E" cx="431" cy="335" r="4"/>
    <circle alt="first string fret number 5" class="note F" cx="472" cy="334" r="4"/>
    <circle alt="first string fret number 6" class="note Fs" cx="510" cy="333" r="4"/>
    <circle alt="first string fret number 7" class="note G" cx="545.5" cy="332.5" r="4"/>
    <circle alt="first string fret number 8" class="note Gs" cx="579.5" cy="332" r="4"/>
    <circle alt="first string fret number 9" class="note A" cx="611" cy="331.2" r="4"/>
    <circle alt="first string fret number 10" class="note As" cx="641" cy="330.5" r="4"/>
    <circle alt="first string fret number 11" class="note B" cx="670" cy="330" r="4"/>
    <circle alt="first string fret number 12" class="note C" cx="696" cy="329.5" r="4"/>
    <circle alt="first string fret number 13" class="note Cs" cx="721" cy="329" r="4"/>
    <circle alt="first string fret number 14" class="note D" cx="745" cy="329" r="4"/>
    <circle alt="first string fret number 15" class="note Ds" cx="767" cy="328.5" r="4"/>
    <circle alt="first string fret number 16" class="note E" cx="788" cy="328" r="4"/>
    <circle alt="first string fret number 17" class="note F" cx="808" cy="327.5" r="4"/>
    <circle alt="first string fret number 18" class="note Fs" cx="827" cy="327" r="4"/>
    <circle alt="first string fret number 19" class="note G" cx="844" cy="326.5" r="4"/>
    <circle alt="first string fret number 20" class="note Gs" cx="861" cy="326" r="4"/>
    <circle alt="first string fret number 21" class="note A" cx="876" cy="325.5" r="4"/>
    <circle alt="first string fret number 22" class="note As" cx="891.5" cy="325" r="4"/>
    <circle alt="first string fret number 23" class="note B" cx="905" cy="324" r="4"/>
    <circle alt="first string fret number 24" class="note C" cx="919" cy="324" r="4"/>
</svg>
{{end}}